%shared {
margin: 0.5em;
min-width: 10em;
max-width: 13em;
}


@mixin btn-mixin($palettes) {
  @each  $color, $value in $palettes { 
    &-#{$color} {
      @include button-variant($value, $value);
    }
    &-outline-#{$color} {
      @include button-outline-variant($value);
    }
  }
}


@function check-brightness($color, $amount) {
  $clr: null;
  @if(luma($color) <= 10) {
    $clr: darken($color, $amount * 1%);
  } @else {
    $clr: lighten($color, $amount * 1%);
  }
  @return $clr;
}



