.shared {
margin: 0.5em;
min-width: 10em;
width: 12em;
}

@mixin bg-mixin($palettes) {
  @each  $color, $value in $palettes { 
    $dark: darken($value, 30%);
    $light: lighten($value, 30%);
    &-#{$color} {
      // @extend .shared;
      background-color: $value;
      span {
        color: color-contrast($value, $dark, $light);
      }
    }
  }
}


@mixin btn-mixin($palettes) {
  @each  $color, $value in $palettes { 
    &-#{$color} {
      @extend .shared;
      @include button-variant($value, $value);
      font-size: 0.9rem;
    }
    &-outline-#{$color} {
      @extend .shared;
      @include button-outline-variant($value);
      font-size: 0.9rem;
    }
  }
}


@function check-brightness($color, $amount) {
  $clr: null;
  @if(luma($color) <= 10) {
    $clr: darken($color, $amount * 1%);
  } @else {
    $clr: lighten($color, $amount * 1%);
  }
  @return $clr;
}



