
$max-width: 1180px !default;

$helvetica :Helvetica, sans-serif;
$lato :  'Lato', sans-serif;

$p1: 1em;
$p2: 2em;
$p4: 4em;

  $defo: (
    "turquoise":#1abc9c,
    "emerald": #2ecc71,
    "peter-river": #3498db,
    "amethyst": #9b59b6,
    "wet-asphalt": #34495e,
    "green-sea": #16a085,
    "nephritis": #27ae60,
    "belize-hole": #2980b9,
    "wisteria": #8e44ad,
    "midnight-blue": #2c3e50,
    "sun-flower": #f1c40f,
    "carrot": #e67e22,
    "alizarin": #e74c3c,
    "clouds": #ecf0f1,
    "concrete": #95a5a6,
    "orange": #f39c12,
    "pumpkin": #d35400,
    "pomegranate": #c0392b,
    "silver": #bdc3c7,
    "asbestos": #7f8c8d,
  );

  $us : (
    "light-greenish-blue": #55efc4,
    "faded-poster": #81ecec,
    "green-darner-tail": #74b9ff,
    "shy-moment": #a29bfe,
    "city-lights": #dfe6e9,
    "mint-leaf": #00b894,
    "robyn-egg-blue": #00cec9,
    "electron-blue": #0984e3,
    "exodus-fruit": #6c5ce7,
    "soothing-breeze": #b2bec3,
    "sour-lemon": #ffeaa7,
    "first-date": #fab1a0,
    "pink-glamour": #ff7675,
    "pico-8-pink": #fd79a8,
    "american-river": #636e72,
    "bright-yarrow": #fdcb6e,
    "orangeville": #e17055,
    "chi-gong": #d63031,
    "prunus-avium": #e84393,
    "dracula-orchid": #2d3436
  );

  $au: (
    "beekeeper":#f6e58d, 
    "spiced-nectarine": #ffbe76,
    "pink-glamour": #ff7979,
    "june-bud": #badc58,
    "coastal-breeze": #dff9fb,
    "turbo": #f9ca24,
    "quince-jelly": #f0932b,
    "carmine-pink": #eb4d4b,
    "pure-appel": #6ab04c,
    "hint-of-ice-pack": #c7ecee,
    "middle-blue": #7ed6df,
    "heliotrope": #e056fd,
    "exodus-fruit": #686de0,
    "deep-koamaru": #30336b,
    "soaring-eagle": #95afc0,
    "greenland-green":#22a6b3,
    "steel-pink": #be2edd,
    "blurple": #4834d4,
    "deep-cove": #130f40,
    "wizard-grey": #535c68,
  );
$color-palettes: (
  defo: $defo, 
  us: $us, 
  au: $au
)