
$theme :(
    theme-primary: (
        background-color: $midnight-blue,
        border: 1px solid darken($midnight-blue, 10%),
    ), 
    theme-secondary: (
        background-color: $river,
        border: 1px solid darken($river, 10%),
    )
);

$color-palettes: map-merge($color-palettes, $theme);