

$theme:(
    theme-primary: (
        background-color: $concrete,
        border: 1px solid darken($concrete, 10%),
    ), 
    theme-secondary: (
        background-color: lighten($concrete, 10%),
        border: 1px solid darken($concrete, 10%),
    )
);

$color-palettes: map-merge($color-palettes, $theme);